<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12">
          <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Conversar com um montitor?</h4>
                <p class="card-category">Ainda em processo de planejamento</p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <div class="card">
                      <div class="card-body">
                        <label class="text-danger">Você: Help-me!</label>
                      </div>
                    </div>  
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <div class="card">
                      <div class="card-body">
                        <label class="text-success">Monitor: Claro!</label>
                      </div>
                    </div>  
                  </div>
                </div>  
                <div class="row">
                  <div class="col-sm-9 col-md-9">
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Digite sua mensagem"></textarea>
                      </mat-form-field>
                  </div>
                  <div class="col-sm-2 col-md-2">
                      <button mat-raised-button color="primary">Enviar</button>
                  </div>
                </div>   
              </div>
          </div>
      </div>
    </div>
  </div>
</div>