<div class="main-content">
    <div class="container-fluid">
        <form action="submit">
            <div class="row">
                <div class="col-6 col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Buscar">
                    </mat-form-field>
                </div>
                <div class="col-2 col-md-2">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i><div class="ripple-container"></div>
                    </button>
                </div> 
            </div>
        </form>    
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Suas Perguntas</h4>
                <p class="card-category">Perguntas feitas por você</p>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Como converter uma string em um Date?</h4>
                        <p class="card-category">Matéria: Programação.</p>
                    </div>
                    <div class="card-body">
                        <p>Queria saber como posso converter uma string em um Date na linguagen java se...</p>
                        <button mat-raised-button class="btn btn-danger pull-right">Visualizar</button>
                    </div>
                </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Como converter uma string em um Date?</h4>
                    <p class="card-category">Matéria: Programação.</p>
                </div>
                <div class="card-body">
                    <p>Queria saber como posso converter uma string em um Date na linguagen java se...</p>
                    <button mat-raised-button class="btn btn-danger pull-right">Visualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>
