::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.7em 0 0.7em 0 !important;
    top: -0.25em;
}

.primaryColor {
    background-color: #2c3e50 !important;
}

.foregroundWhite {
    color: white;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color:#4d5f70; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #57718d;  /*replace with your color*/
}

.btn-outline {
    border-color: #2c3e50 !important;
    color: #2c3e50 !important;
}

.borderColor{
    border: solid 1px #3a4e61
}
