<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5" style="margin: 0 auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Registrar-se</h4>
                    </div>
                    <div class="card-body">
                        <ngx-spinner
                            bdColor = "#090909"
                            size = "medium"
                            color = "#f40b0b"
                            type = "square-jelly-box"
                            [fullScreen] = "true">
                            <p style="color: white" > Autenticando... </p>
                        </ngx-spinner>

                        <form novalidate [formGroup]="registroForm" (ngSubmit)="onSubmitAddUser()">
                            <h5 class="font-weight-bold">Dados de Registro</h5>
                            <hr class="mt-1">

                            <mat-form-field appearance="outline">
                                <input formControlName="email" 
                                       matInput placeholder="Email" type="email">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <input formControlName="nomeVirtual"
                                       matInput placeholder="Nome Virtual" >
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <input formControlName="nomeReal"
                                       matInput placeholder="Nome Real" >
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <input formControlName="password" 
                                       matInput placeholder="Senha" type="password">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <input formControlName="confirm_password"
                                       matInput placeholder="Cornfirmar Senha"
                                       type="password">
                            </mat-form-field>

                            <div class="row" fxLayoutAlign="center">
                                <button  mat-raised-button type="submit"
                                         class="btn btn-danger pull-right">Registrar</button>
                            </div>
                            <div class="row" fxLayoutAlign="center">
                                <button  mat-raised-button type="button"
                                         [routerLink] = "['/login']"
                                         class="btn btn-danger pull-right">Retornar</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
