<div class="card shadow">
    <div class="card-header primaryColor">
        <h4 class="foregroundWhite card-title">Salas de chat</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Salas disponiveis</mat-label>
                    <mat-select [(ngModel)]="room">
                        <mat-option *ngFor="let item of disciplinas" value="{{item.nome}}">{{item.nome}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <button mat-raised-button type='submit' 
                        class="btn btn-outline pull-right"
                        (click)="leave()"><i class="material-icons mr-3">exit_to_app</i>Sair
                </button>
                <button mat-raised-button type='submit' 
                        class="btn btn-outline pull-right"
                        (click)="join()"><i class="material-icons mr-3">arrow_forward</i>Entrar
                </button>
            </div>
        </div>
        
        <div class="styled-chat card-body mb-3">
            <div *ngFor="let item of messageArray">
                <div *ngIf="item.user_id == currentUser._id">
                    <div class="row mb-2">
                        <div class="justify-items">
                            <div class="styled-baloom-me">
                                <span><b>{{item.user}} : </b> {{item.message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="item.user_id != currentUser._id">
                    <div class="row float-right mb-2">
                        <div class="justify-items">
                            <div class="styled-baloom-u">
                                <span><b>{{item.user}} : </b> {{item.message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-bottom: -20px;">
            <div class="col-md-10">
                <mat-form-field appearance="outline">
                    <textarea matInput 
                            placeholder="Mensagem"
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="2"
                            cdkAutosizeMaxRows="2"
                            [(ngModel)]="messageText"></textarea>
                </mat-form-field>         
            </div>
            <div class="col-md-2">
                <button mat-raised-button type='submit' 
                        class="btn btn-outline pull-right"
                        (click)="sendMessage()"><i class="material-icons mr-3">send</i>Enviar
                </button>
            </div>
        </div>
    </div>
</div>  
