<div class="card shadow">
    <div class="card-header primaryColor">
        <h4 class="foregroundWhite card-title">Salas de chat</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Salas disponiveis</mat-label>
                    <mat-select [(ngModel)]="room">
                        <mat-option *ngFor="let item of disciplinas" value="{{item._id}}">{{item.nome}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <button mat-button class="btn btn-outline btn-just-icon"
                    matTooltip="Entrar da sala"
                    (click)="join()">
                    <i class="material-icons">arrow_forward</i>
                    <div class="ripple-container"></div>
                </button>
                <button mat-button class="btn btn-outline btn-just-icon ml-3"
                    matTooltip="Sair da sala"
                    (click)="leave()">
                    <i class="material-icons">exit_to_app</i>
                    <div class="ripple-container"></div>
                </button>
            </div>
            <div class="col-md-6">
                <form [formGroup]="buscaForm" (ngSubmit)="onSubmitRealizarBusca()">
                    <div class="row" style="margin-bottom: -10px;">
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <input formControlName="texto" matInput placeholder="Buscar nas mensagens">
                            </mat-form-field> 
                        </div>
                        <div class="pull-right mr-3">
                            <button mat-button class="btn btn-outline btn-just-icon"
                                matTooltip="Buscar">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="styled-chat card-body mb-3" #chatDiv style="overflow-y: scroll;">
            <div *ngFor="let item of messageArray">
                <div *ngIf="item.user_id == currentUser._id">
                    <div class="row mb-2">
                        <div class="justify-items">
                            <div class="styled-baloom-me">
                                <span><b>{{item.user}} : </b> {{item.message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="item.user_id != currentUser._id">
                    <div class="row mb-2">
                        <div class="justify-items">
                            <div class="styled-baloom-u">
                                <span><b>{{item.user}} : </b> {{item.message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" style="margin-bottom: -20px;">
            <div class="col-md-10">
                <mat-form-field appearance="outline">
                    <textarea matInput 
                            placeholder="Mensagem"
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="2"
                            cdkAutosizeMaxRows="2"
                            [(ngModel)]="messageText"></textarea>
                </mat-form-field>         
            </div>
            <div class="col-md-2 mb-3">
                <button mat-raised-button type='submit' 
                        class="btn btn-outline pull-right"
                        matTooltip="Enviar mensagem"
                        (click)="sendMessage()"><i class="material-icons mr-3">send</i>Enviar
                </button>
            </div>
        </div>
    </div>
</div>  
