<div class="main-content">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="card shadow" style="margin: 0 auto;">
                    <div class="card-header primaryColor">
                        <h4 class="foregroundWhite card-title">Detalhamento da pergunta</h4>
                    </div>

                    <div class="card-body">
                        <ngx-spinner
                            bdColor = "#090909"
                            size = "medium"
                            color = "#f40b0b"
                            type = "square-jelly-box"
                            [fullScreen] = "true">
                            <p style="color: white" > Carregando detalhes... </p>
                        </ngx-spinner>

                        <div class="row">
                            <div class="col-md-3">
                                <button mat-raised-button class="btn btn-outline"
                                 (click)="onClickSessaoRespostas()" matTooltip="Sessão de respostas">Ir para sessão de respostas</button>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <div *ngIf="perguntaObject.usuario" class="card shadow-lg">
                                    <div class="card-header primaryColor">
                                        <h4 class="foregroundWhite card-title">Pergunta Completa</h4>
                                    </div>
                                    <div class="card-body borderColor">
                                        <h3><b>{{perguntaObject.titulo}}</b></h3>
                                        <h4>{{perguntaObject.descricao}}</h4>
                                        <label class="mr-5">
                                            <b>Postado por: {{perguntaObject.usuario.nomeVirtual}}</b>
                                        </label>
                                        <label class="mr-5 mt-3"><b>Disciplina: {{perguntaObject.disciplina.nome}}</b></label>
                                        <label>
                                            <b>Publicação: {{perguntaObject.createdAt | date: 'dd/MM/yyyy'}}</b>
                                        </label>
                                        <button *ngIf="habilitarEdit()" 
                                            class="btn btn-outline float-right" 
                                            (click)="onClickEditarPergunta()"
                                            matTooltip="Editar pergunta">
                                                Editar
                                        </button>
                                    </div>
                                </div>   
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <div *ngIf="perguntaObject.resposta && perguntaObject.resposta.length > 0 " class="card shadow-lg">
                                    <div class="card-header primaryColor">
                                        <h4 class="foregroundWhite card-title">Resposta Oficial</h4>
                                    </div>
                                    <div class="card-body borderColor">
                                        <h4>{{perguntaObject.resposta[0].descricao}}</h4>
                                        <label class="mr-5 mt-3">
                                            <b>Postado por: {{perguntaObject.resposta[0].usuario.nomeReal}}</b>
                                        </label>
                                        <label>
                                            <b>Publicação: {{perguntaObject.resposta[0].createdAt | date: 'dd/MM/yyyy'}}</b>
                                        </label>
                                        <div class="row">
                                            <div class="col-md-12 mt-3">
                                                <app-comentario [ID_resposta]=perguntaObject.resposta[0]._id></app-comentario>
                                            </div>
                                        </div>
                                    </div>
                                </div>   

                                <div *ngIf="perguntaObject.resposta && perguntaObject.resposta.length == 0" class="card shadow-lg">
                                    <div class="card-header primaryColor">
                                        <h4 class="foregroundWhite card-title">Resposta Oficial</h4>
                                    </div>
                                    <div class="card-body borderColor">
                                        <h4>Está pergunta ainda não possui uma resposta oficial</h4>
                                        <label class="mr-5 mt-3">
                                            <b>Postado por: Mensagem do sistema</b>
                                        </label>
                                        <label>
                                            <b>Publicação: {{date | date: 'dd/MM/yyyy'}}</b>
                                        </label>
                                        
                                    </div>
                                </div> 
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
