<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" >
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="font-weight-bold">Dados da Pergunta</h5>
                            <hr class="mt-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Titulo da pergunta">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nome" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Editar Perfil</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
