<div class="main-content">
    <div class="container-fluid">
        <div class="card shadow" style="margin: 0 auto;">
            <div class="card-header primaryColor">
                <h4 class="foregroundWhite card-title">Descreva a sua pergunta</h4>
            </div>
            <div class="card-body">
                <div class="card shadow-lg">
                    <div class="card-body borderColor">
                        <ngx-spinner
                                bdColor="#090909"
                                size="medium"
                                color="#f40b0b"
                                type="square-jelly-box"
                                [fullScreen]="true">
                            <p style="color: white"> Enviando sua pergunta... </p>
                        </ngx-spinner>

                        <form [formGroup]="perguntaForm" (ngSubmit)="onSubmitEnviarPergunta()">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field appearance="outline">
                                        <input formControlName="titulo" matInput placeholder="Titulo da sua pergunta">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Selecione uma disciplina</mat-label>
                                        <mat-select formControlName="disciplina">
                                            <mat-option *ngFor="let item of comboDisciplinas"
                                                        value="{{item._id}}">{{item.nome}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <app-editor></app-editor>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button mat-raised-button type='submit'
                                            class="btn btn-outline pull-right mt-3"
                                            [disabled]="perguntaForm.invalid"
                                            matTooltip="Enviar formulário">
                                        Enviar Pergunta
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

