<div class="main-content">
    <div class="container-fluid">
        <app-filtros (enviaFiltros)=receiveFiltros($event) ></app-filtros>

        <div class="card bg-dark" >

            <div class="card-header card-header-danger">
                <h4 class="card-title">Consulte o Mural de Perguntas</h4>
                <p class="card-category">Perguntas feitas recentemente</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <button mat-raised-button color="primary" (click)="onClickNovaPergunta()">Adicionar uma Pergunta</button>
                    </div>
                </div>
                    <app-listar-perguntas [filtros]=filtroTemporario></app-listar-perguntas>
            </div>
        </div>
    </div>
</div>

