<div class="main-content">
    <div class="container-fluid">
        <app-filtros></app-filtros>

        <div class="card" >

            <div class="card-header primaryColor">
                <h4 class="foregroundWhite card-title">Consulte o Mural de Perguntas</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <button  mat-raised-button color="primary"
                                (click)="onClickNovaPergunta()">
                                Adicionar uma Pergunta
                        </button>
                    </div>
                </div>
                    <app-listar-perguntas></app-listar-perguntas>
            </div>
        </div>
    </div>
</div>

