<div class="logo">
    <div class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/question.png"/>
        </div>
        Monitoria
    </div>
</div>
<div class="sidebar-wrapper" *ngIf="currentUser" >
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a *ngIf="menuItem.tipo.indexOf(currentUser.tipo) > -1" class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu()" class="nav-item" >
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">exit_to_app</i>
                    <p>
                        <span class="d-lg-none d-md-block">Sair</span>
                    </p>
                </a>
        </li>
    </ul>
</div>
