<div class="logo">
    <div class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/question.png"/>
        </div>
        Monitoria
    </div>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">1</span>
                <p>
                    <span class="d-lg-none d-md-block">Notificações</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Fulano respondeu sua pergunta</a>
            </div>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu()" class="nav-item" >
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">exit_to_app</i>
                    <p>
                        <span class="d-lg-none d-md-block">Sair</span>
                    </p>
                </a>
        </li>
    </ul>
</div>
