
.pagination a:hover:not(.active) {background-color: #ddd;}


.pagination>.active>a {
    background-color: #2c3e50;
    color: white;
}

.pagination>li.disabled>a {
    color: rgb(0, 0, 0);
}

.pagination a {
    color: #2c3e50;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #ddd;
}

.broken-text {
  max-width: 302ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.primaryColor {
    background-color: #2c3e50 !important;
}

.foregroundWhite {
    color: white;
}

.btn-outline {
    border-color: #2c3e50 !important;
    color: #2c3e50 !important;
}

.borderColor{
    border: solid 1px #3a4e61
}