<div class="row mt-3">
    <div class="col-md-12">
        <div *ngFor="let item of pageOfItems">
            <div class="card">
                <div class="card-body">
                    <ngx-spinner
                        bdColor = "#090909"
                        size = "medium"
                        color = "#f40b0b"
                        type = "square-jelly-box"
                        [fullScreen] = "true">
                        <p style="color: white" > Buscando... </p>
                    </ngx-spinner>
                    <h3><b>{{item.titulo}}</b></h3>
                    <h4 class="broken-text">{{item.descricao}}...</h4>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-md-12">
                                        <label class="mr-5"><b>Postado por: {{item.usuario.nomeReal}}</b></label>
                                        <label class="mr-5"><b>Disciplina: {{item.disciplina.nome}}</b></label>
                                        <label><b>Publicação: {{item.createdAt | date: 'dd/MM/yyyy'}}</b></label> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn btn-outline-info btn-sm float-right mr-2"
                                    [routerLink]="['detalhe-pergunta/', item._id]">
                                            Visualizar
                                    </button>
                                    <button *ngIf="item.resolvido == false"
                                            class="btn btn btn-outline-danger btn-sm float-right">
                                            Aguardando
                                    </button>
                                    <button *ngIf="item.resolvido == true"
                                            class="btn btn btn-outline-success btn-sm float-right">
                                            Resolvido
                                    </button>     
                                </div>
                            </div>              
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <ul *ngIf="pager.pages && pager.pages.length" 
            class="pagination justify-content-center">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                <a routerLink="/mural" [queryParams]="{page: 1 }" class="page-link">Primeiro</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                <a routerLink="/mural" [queryParams]="{ page: pager.currentPage - 1 }" class="page-link">Anterior</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
                <a routerLink="/mural" [queryParams]="{ page: page }" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                <a routerLink="/mural" [queryParams]="{ page: pager.currentPage + 1 }" class="page-link">Próximo</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                <a routerLink="/mural" [queryParams]="{ page: pager.totalPages }" class="page-link">Último</a>
            </li>
        </ul>
    </div>
</div>
