<div class="main-content">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-12">
                
                <div class="card bg-dark">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Mural de respostas</h4>
                        <p class="card-category">Respostas para a pergunta selecionda</p>
                    </div>

                    <div class="card-body">
                        <ngx-spinner
                            bdColor = "#090909"
                            size = "medium"
                            color = "#f40b0b"
                            type = "square-jelly-box"
                            [fullScreen] = "true">
                            <p style="color: white" > Buscando... </p>
                        </ngx-spinner>

                        <div *ngFor="let item of pageOfItems">
                            <div class="card">
                                <div class="card-body">
                                    <h4>{{item.descricao}}...</h4>
                                    <div class="row">
                                        <div class="col">
                                            <label class="mr-5"><b>Postado por: {{item.usuario.nomeReal}}</b></label>
                                            <label><b>Publicação: {{item.createdAt | date: 'dd/MM/yyyy'}}</b></label>
                                        
                                            <button class="btn btn btn-info btn-sm float-right mr-2">
                                                Responder
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
