<div class="main-content">
    <div class="container-fluid">
        <h2 style="margin-top:-40px">Perguntas por disciplina</h2>
        <div *ngIf="barChartData" class="chart-wrapper">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
        </div>
    </div>
</div>