<div class="card shadow">
    <div class="card-header primaryColor">
        <h4 class="foregroundWhite card-title">Gerenciar Professores</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="buscaForm" (ngSubmit)="onSubmitRealizarBusca()">
            <div class="row" style="margin-bottom: -10px;">
                <div class="col-6">
                    <mat-form-field appearance="outline">
                        <input formControlName="texto" matInput placeholder="Buscar por texto">
                    </mat-form-field> 
                </div>
                <div class="pull-right">
                    <button mat-button class="btn btn-outline btn-just-icon"
                        matTooltip="Buscar">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>  
            </div>
        </form>
        <table mat-table [dataSource]="dataSource" class="shadow-lg">
        
        <ng-container matColumnDef="nomeReal">
            <th mat-header-cell *matHeaderCellDef> Nome Real </th>
            <td mat-cell *matCellDef="let element"> {{element.nomeReal}} </td>
        </ng-container>
        
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        
        <ng-container matColumnDef="situacao">
            <th class="situacao" mat-header-cell *matHeaderCellDef> Situação </th>
            <td class="situacao" mat-cell *matCellDef="let element"> {{element.situacao}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th class="acoes" mat-header-cell *matHeaderCellDef> Ações</th>
            <td class="acoes" mat-cell *matCellDef="let element">                    
            
            <button style="margin-left: 5px;" mat-mini-fab
                    matTooltip="Vincular Disciplinas"
                    class="btn btn-outline btn-just-icon"
                    (click)="onClickDisciplinas(element)">
                <i class="material-icons">add</i>
                <div class="ripple-container"></div>
            </button> 

            <button *ngIf="element.situacao === 'Inativo'"
                    style="margin-left: 5px;" mat-mini-fab
                    matTooltip="Ativar Professor" 
                    class="btn btn-outline btn-just-icon"
                    (click)="onClickAtivar('Ativo', element._id)">
                <i class="material-icons">done_all</i>
                <div class="ripple-container"></div>
            </button>

            <button *ngIf="element.situacao === 'Ativo'"
                    style="margin-left: 5px;"
                    matTooltip="Desativar Professor"
                    mat-mini-fab class="btn btn-outline btn-just-icon"
                    (click)="onClickAtivar('Inativo', element._id)">
                <i class="material-icons">clear</i>
                <div class="ripple-container"></div>
            </button>
                
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        <mat-paginator 
            [pageSizeOptions]="[10]" 
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
