<!--<div class="row mt-3">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <button class="btn btn btn-info btn-sm float-left" (click)="prevPage()"
                        [disabled]="disable_prev || !(pagination_clicked_count>0)">Anterior</button> <b>Pagina atual: {{pagination_clicked_count+1}}</b>
                    <button class="btn btn btn-info btn-sm float-right" (click)="nextPage()" [disabled]="disable_next">Proximo</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover w-100 d-block d-md-table">
                    <thead>
                        <th>Título</th>
                        <th>Disciplina</th>
                        <th>Publicação</th>
                        <th>Situação</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableData">
                            <td style="width: 50%">{{item.titulo}}</td>
                            <td style="width: 20%">{{item.disciplina}}</td>
                            <td style="width: 15%">{{item.dataPublicacao.toDate()  | date: 'dd/MM/yyyy'}}</td>
                            <td style="width: 15%" *ngIf="item.resolvido == false"><span class="badge badge-pill badge-danger">Aguardando</span></td>
                            <td style="width: 15%" *ngIf="item.resolvido == true"><span class="badge badge-pill badge-success">Sucesso</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div>-->
<div class="text-center">
    <button class="btn btn btn-info btn-sm float-left" (click)="prevPage()"
            [disabled]="disable_prev || !(pagination_clicked_count>0)">Anterior</button> <b>Pagina atual: {{pagination_clicked_count+1}}</b>
    <button class="btn btn btn-info btn-sm float-right" (click)="nextPage()" [disabled]="disable_next">Proximo</button>
</div>

<table style="width: 100%" mat-table [dataSource]="tableData" class="mat-elevation-z8">
    
    <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef><b> Titulo </b></th>
        <td style="width: 50%" mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>

    <ng-container matColumnDef="disciplina">
        <th mat-header-cell *matHeaderCellDef><b> Disciplina </b></th>
        <td style="width: 20%" mat-cell *matCellDef="let element"> {{element.disciplina}} </td>
    </ng-container>

    <ng-container matColumnDef="publicacao">
        <th mat-header-cell *matHeaderCellDef><b> Publicação </b></th>
        <td style="width: 15%" mat-cell *matCellDef="let element"> {{element.dataPublicacao.toDate()  | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef><b> Status </b></th>
        <ng-container *matCellDef="let element">
            <td style="width: 15%" mat-cell *ngIf="element.resolvido == false"><span class="badge badge-pill badge-danger">Aguardando</span></td>
        </ng-container>
        <ng-container *matCellDef="let element">
            <td style="width: 15%" mat-cell *ngIf="element.resolvido == true"><span class="badge badge-pill badge-success">Sucesso</span></td>
        </ng-container>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
