<!--<div class="row mt-3">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <button class="btn btn btn-info btn-sm float-left" (click)="prevPage()"
                        [disabled]="disable_prev || !(pagination_clicked_count>0)">Anterior</button> <b>Pagina atual: {{pagination_clicked_count+1}}</b>
                    <button class="btn btn btn-info btn-sm float-right" (click)="nextPage()" [disabled]="disable_next">Proximo</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover w-100 d-block d-md-table">
                    <thead>
                        <th>Título</th>
                        <th>Disciplina</th>
                        <th>Publicação</th>
                        <th>Situação</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableData">
                            <td style="width: 50%">{{item.titulo}}</td>
                            <td style="width: 20%">{{item.disciplina}}</td>
                            <td style="width: 15%">{{item.dataPublicacao.toDate()  | date: 'dd/MM/yyyy'}}</td>
                            <td style="width: 15%" *ngIf="item.resolvido == false"><span class="badge badge-pill badge-danger">Aguardando</span></td>
                            <td style="width: 15%" *ngIf="item.resolvido == true"><span class="badge badge-pill badge-success">Sucesso</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div>-->
<div class="row mt-3" #top>
    <div class="col-md-12">
        <div *ngFor="let item of tableData">
            <div class="card">
            <div class="card-body">
                <h3><b>{{item.titulo}}</b></h3>
                <h4>{{item.descricao}}</h4>
                <label class="mr-5"><b>Disciplina: {{item.disciplina}}</b></label><label><b>Publicação: {{item.dataPublicacao.toDate()  | date: 'dd/MM/yyyy'}}</b></label>
                <button *ngIf="item.resolvido == false" class="btn btn btn-danger btn-sm float-right">Aguardando</button>
                <button *ngIf="item.resolvido == true"class="btn btn btn-success btn-sm float-right">Resolvido</button>
                <button class="btn btn btn-info btn-sm float-right mr-2">Visualizar</button>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="text-center">
            <button class="btn btn btn-warning btn-sm float-left" (click)="prevPage(top)"
                [disabled]="disable_prev || !(pagination_clicked_count>0)">Anterior</button> <b>Pagina atual: {{pagination_clicked_count+1}}</b>
            <button class="btn btn btn-warning btn-sm float-right" (click)="nextPage(top)" [disabled]="disable_next">Proximo</button>
        </div>
    </div>
</div>